@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    font-family: 'Oswald', sans-serif
}
body {
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the container vertically */
    height: 100vh; /* Makes the body fill the entire viewport */
    margin: 0;
    background-color: #a0d7a754;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.clear {
    clear: both;
}
.container {
    margin-top: 30px;
    box-shadow: 0px 0px 20px 10px #0044ff;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 30px;
    max-width: 400px; /* Optional: Sets a max width for better styling */
    width: 90%; /* Optional: Makes it responsive */
}

h1{
    margin: 30px 0px;
}

.gender-container {
    display: flex;
    align-items: center;
    font-size: 20px;
}

form {
    display: flex; 
    align-items: center; 
}
form label {
    font-size: 20px; 
    margin-right: 20px;

}
form input[type="number"] {
    font-size: 20px; 
    padding: 5px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
    height: 30px; 
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
}

p{
    font-size: 25px;
}

button{
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #0044ff;
    color:azure;
    font-size: 20px;
    margin-top: 30px;
}
input{
    border: none;
    border-bottom: 1px solid #0044ff;
    width: 50%;
    outline: none;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    margin: 0px;
}

.result{
    
    font-size: 25px;
    padding: 20px;

}

@media screen and (max-width:1500px) {
    h1 {
        margin: 20px 0px;
    }
    .container {
        padding: 35px;
    }
}


